@import url('https://fonts.googleapis.com/css?family=Raleway:200,300,400&display=swap');

.body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  background-color: #054048;
  font-family: 'Raleway', sans-serif;
}

.header {
  width: 880px;
  height: 150px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  color: #fff;
  font-size: 17px;
  font-weight: 200;
  padding-bottom: 10px;
  box-sizing: border-box;
}

.header__h2 {
  font-weight: 200;
  font-size: 36px;
  margin: 0;
}

.header__owner {
  text-align: center;
}

.owner__name {
  font-weight: 300;
  margin: 0;
}

.owner__logo {
  height: 100px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr) 40px 1fr 1fr;
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 5px;
  width: 880px;
  height: 430px;
}

.grid__item {
  padding: 0 10px;
  background-color: #d3f7d1;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 2px;
  color: white;
  font-size: 13px;
  font-weight: 400;
}

.grid__item-3 {
  background-color: rgba(251, 251, 251, 0);
  grid-row: 1 / span 4;
  grid-column-end: 8;
}

.mail {
  grid-column: 1 /span 2;
  background-color: #048897;
}

.calendar {
  grid-column: 3/ span 2;
  background-color: #aca3ff;
}

.explorer {
  background-color: #999999;
}

.xbox {
  background-color: #7eb900;
}

.store {
  background-color: #079108;
}

.news {
  grid-column: 8/ span 2;
  background-color: #13818d;
}

.people {
  grid-column: 1/ span 2;
  background-color: #d34b25;
}

.photos {
  grid-column: 3/ span 2;
  background-color: #f4ce13;
}

.sport {
  grid-column: 8/ span 2;
  background-color: #5c3db5;
}

.message {
  grid-column: 1 /span 2;
  background-color: #f4cd74;
}

.maps {
  background-color: #9e04a4;
}

.video {
  grid-column: 3/ span 2;
  background-color: #ad1d41;
}

.drive {
  background-color: #188fd1;
}

.camera {
  background-color: #ad1d41;
}

.music {
  grid-column: 5/ span 2;
  background-color: #31d3e6;
}

.travel {
  grid-column: 8/ span 2;
  background-color: #f4ce13;
}

.desktop {
  grid-column: 1/ span 2;
  background: url(../images/1.jpg) no-repeat center top / cover;
}

.weather {
  grid-column: 3/ span 2;
  background-color: #558dd7;
}

.finance {
  grid-column: 8/ span 2;
  background-color: #86d132;
}

.item__name {
  align-self: end;
  margin: 0;
}

.item__logo {
  margin-top: 17px;
}
